#tabela{
    border: solid 1px black;
}

th{
    border: solid 1px black;
}

.coluna1, .coluna2{
    border-left: solid 1px black;
    border-bottom: solid 1px black;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}





